@model IngSoftware.Models.Equipo

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salon.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Equipo }) |
    @Html.ActionLink("Borrar ", "Index")
</p>
