@model IEnumerable<IngSoftware.Models.Fecha_Apartado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profesor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salon.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFinalizada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profesor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salon.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinalizada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Fecha_Apartado }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Fecha_Apartado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Fecha_Apartado })
        </td>
    </tr>
}

</table>
