@model IngSoftware.Models.Profesor

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTelefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTelefonico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Profesor }) |
    @Html.ActionLink("Volver atras", "Index")
</p>
